<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.boudonpierre.myyoutube">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DetailsActivity" />

        <receiver
            android:name=".widgets.FavoritesWidget"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="fr.boudonpierre.myyoutube.widgets.favoriteswidget.action.OPEN_FAV" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="65d090ec2d4bd2a8a8a219adcb031492acac7cf0" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="65d090ec2d4bd2a8a8a219adcb031492acac7cf0" />

    </application>

</manifest>